header {
  display: flex;
  height: min-content;
  background-color: black;
  justify-content: center;
  align-items: flex-start;
}
header div {
  padding: 10px;
}

p {
  color: white;
  font-weight: bold;
  font-size: 23px;
}
input {
  text-align: center;
}
.heading {
  display: flex;
  align-items: flex-start;
}
.search {
  border-radius: 24px;
  border: 1px solid #a9a9a9;
  font-size: 14px;
  padding: 4px 8px;
  text-align: center;
}

.search-button {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.1s ease-in;
  background-color: red;
}

.search-button:hover,
.search-button:focus {
  background-color: #eaeaea;
}

.search-form {
  display: flex;
  column-gap: 8px;
  justify-content: flex-end;
}
