.sub-button {
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: white;
  width: 100%;
  text-decoration: none;
  border: outset;
  background-color: rgb(75, 75, 75);
  color: whitesmoke;
  cursor: pointer;
}
.subreddits-container {
  background-color: rgb(30, 30, 30);
  overflow: hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.list-item {
  flex-shrink: -1;
}
.list-item img {
  width: 30px;
  padding-right: 5px;
}
ul.subreddits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  column-gap: 10px;
  row-gap: 10px;

  margin: 0px;
  padding: 10px 0px;
}
div.subreddits-container h1 {
  color: whitesmoke;
  border: outset;
  background-color: black;
  margin: 0px;
  padding: 5px;
}
