button {
  width: min-content;
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
}

.subs img {
  width: 20px;
  padding: 5px;
}
div.subreddits {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;
  justify-content: center;
}
div.subreddits a {
  color: white;
  text-align: center;
  text-decoration: none;
}
