header {
  display: flex;
  height: min-content;
  background-color: black;
  justify-content: center;
  align-items: flex-start;
}
header div {
  padding: 10px;
}

p {
  color: white;
  font-weight: bold;
  font-size: 23px;
}
.heading {
  display: flex;
  align-items: flex-start;
}
