.post-container {
  border: solid black 1px;
  min-width: 43vw;
  max-width: 40vw;
  height: auto;

  border-radius: 14px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.image-container video {
  max-width: 35vw;
  min-width: 25vw;
  height: auto;
  margin-bottom: 20px;
}
.post-image img {
  height: auto;
  width: 39vw;

  border-radius: 14px;

  border: solid black 1px;
}

@media screen {
}
