.post-container {
  position: relative;
  min-width: 60vw;
  max-width: 60vw;
  height: auto;
  border-radius: 14px;
  padding: 20px;
  margin-top: 25px;
  background-color: rgb(80, 80, 80);
  box-shadow: -5px -5px 9px rgba(248, 39, 53, 0.7);
}
.post-container * {
  color: white;
}
.post-container button {
  height: auto;
  cursor: pointer;
  text-align: center;
  align-items: center;
  background-color: rgb(80, 80, 80);
  border: none;
  text-decoration: none;
  color: inherit;
  margin-bottom: 10px;
}

button.commentsButton {
  background-color: brown;
  width: 100%;
  border-radius: 14px;
  margin-top: 20px;
  padding: 10px;
}

.media-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5px;
}
.video-container {
  width: 80%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;
}
.video {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
}
.post-url a {
  margin: 10px;
  color: black;
}
.post-image {
  position: relative;
}
.post-image a img {
  width: 70%;
  border-radius: 14px;
  border: solid black 1px;
  margin-bottom: 10px;
}
.subreddit-redirect {
  text-decoration: none;
}

.subreddits {
  margin: 10px 0px;
}
.selftext-container {
  font-size: 20px;
  line-height: 1.5;
  word-wrap: break-word;
  padding: 10px;
  width: max-content;
  border-radius: 14px;
}

.comments h4 {
  background-color: rgba(142, 118, 32, 0.44);
  width: 100%;
  padding: 10px 30px 10px 0;
  margin: 0;
  border-radius: 14px 200% 14px 30px;
  text-align: left;
}
.comments p {
  background-color: burlywood;
  color: #3a2525;
  padding: 20px;
  margin: 0px 10px 3px;
  border-radius: 0% 14px 14px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 17px;
}
div .comments {
  padding: 10px;

  word-wrap: break-word;
}

.comment-link {
  text-decoration: none;
  color: red;
}

.replies p {
  background-color: burlywood;
  color: #3a2525;
  margin: 0px 0px 0px 20px;

  text-align: left;
  border-radius: 0% 14px 14px 14px;
}

.replies {
  margin-top: 10px;
}

.reply-depth-1,
.reply-depth-2,
.reply-depth-3,
.reply-depth-4,
.reply-depth-5 {
  margin-left: 20px;
}
.reply-depth-1,
.reply-depth-3,
.reply-depth-5 {
  border-left: 1px solid #ccc;
}
.score {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  width: 90%;
  background-color: #3a2525;
  padding: 10px;
  text-align: left;
  margin: 5px 0px 0px 0px;
  border-radius: 14px 14px 0px 14px;
}

@media screen and (max-width: 900px) {
  .post-container {
    min-width: 75vw;
    max-width: 75vw;
  }
  .video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .post-image img {
    min-width: 70vw;
    max-width: 85vw;
  }
  .selftext-container {
    max-width: 75vw;
  }
}
